.newNotificationButtons {
    display: flex;
    flex-direction: column;
    max-width: 230px;
}

.newNotificationButtons button {
    margin: 5px;
    color: white;
    background: #444;
    border: none;
    padding: 10px ;
    cursor: pointer;
    transition: 0.15s ease-in-out all;
}

.newNotificationButtons button:hover {
    box-shadow: 0px 5px 5px black;
}